# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Clangd
.cache
.cache/
.cache/*

# Bazel
bazel-*
/bazel-*

test/report/css
test/report/css/*
test/report/js
test/report/js
test/report/open-iconic
test/report/open-iconic/*
test/report/stacktable/*
test/report/stacktable/*
